@charset "UTF-8";

/* importante resetear estas propiedades sass --watch scss:css */
/* variables */ /* aplicando estilo al formulario de contactenos */
/* GRID - CONTENEDOR INDEX */
@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,300;1,500;1,600&display=swap");
.contenedorcontactenos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  grid-template-rows: 1, 1fr; /* 2 filas */
  grid-template-areas: "header header" "formulario formulario" "footer footer";
  column-gap: 5px;
  row-gap: 5px;
}

header {
  grid-column-start: header;
  grid-column-end: header;
}

.formulario {
  grid-column-start: formulario;
  grid-column-end: formulario;
}

.mifooter {
  grid-column-start: footer;
  grid-column-end: footer;
}

.contactenos {
  text-align: center;
}

form {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: rgb(180, 224, 224);
}
form label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 150px;
  text-align: left;
}
form input,
form textarea {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 400px;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
  vertical-align: top;
}

option {
  align-items: center;
  position: relative;
}

fieldset {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  margin-top: 10px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: rgb(180, 224, 224);
}

fieldset label {
  width: 300px;
}

fieldset input {
  vertical-align: text-top;
}

/* operaciones */
@media screen and (max-width: 800px) {
  form {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 15px 0px;
  }
  form input {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 15px 0px;
  }
  form textarea {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 15px 0px;
  }
}
@media screen and (max-width: 800px) {
  fieldset {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 15px 0px;
  }
}
/* aplicando estilo al formulario de contactenos */
/* ESTILO A FORMULARIO DE PAGINA CONTACTENOS */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.contenedor-categoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas */
  grid-template-rows: repeat(2); /* 3 filas */
  grid-template-areas: "header header" "contenidop3 contenidop4" "footer footer";
  column-gap: 5px;
  row-gap: 5px;
}

.headercateg {
  grid-area: header;
}

.contenedortotal .contenidop3 {
  grid-column-start: contenidop3;
  grid-column-end: contenidop3;
}

.contenedortotal .contenidop4 {
  grid-column-start: contenidop4;
  grid-column-end: contenidop4;
}

.mifooter {
  grid-area: footer;
}

/* APLICANDO GRID A CATEGORIA */
/* catalogo de imagenes FRUTAS */
.contenidop3 {
  display: flexbox;
  align-items: center;
  background-color: #039481;
  padding: 10px;
  top: 10px;
}

.contenidop4 {
  display: flexbox;
  align-items: center;
  background-color: #adc0d6;
  padding: 10px;
  top: 10px;
}

.contenidop3 {
  width: 100%;
  display: flex;
}
.contenidop3 .aseohogarimg {
  flex-wrap: nowrap;
  height: 350px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  /* flex:1 0 auto; */
}
.contenidop3 .aseohogarimg .p3img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 0 5px #06360b;
  scroll-snap-align: center;
}

/*.vivehue{
   /*  height: 150px;
    /* transform: rotate(-54deg); */
/* transform: scale(1:2);*/
/*  transform:skew (20deg,10deg); */
/* transition: 2s;

    &:hover{
        height: 80px;
   }
} */
@keyframes opacidad {
  0% {
    opacity: 100px;
  }
  50% {
    opacity: 50px;
  }
  100% {
    opacity: 0px;
  }
}
.imagengde {
  animation: opacidad;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* PIE DE PAGINA */
.mifooter {
  width: 100%;
  background-color: #011220;
}
.mifooter .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 25px 0px;
}
.mifooter .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mifooter .grupo-1 .box figure img {
  width: 250px;
}
.mifooter .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.mifooter .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.mifooter .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.mifooter .grupo-1 .red-social a :hover {
  color: rgb(11, 214, 214);
}

.mifooter .grupo-2 {
  background-color: #010508;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.mifooter .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .mifooter .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .mifooter .grupo-1 .mifooter iframe {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.contenedortotalfv {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  grid-template-rows: repeat(3); /* 3 filas */
  grid-template-areas: "header header" "sliderfru sliderfru" "sliderver sliderver" "footer footer";
  column-gap: 5px;
  row-gap: 5px;
}

.contenedortotalfv .header {
  grid-column-start: header;
  grid-column-end: header;
}

.contenedortotalfv .sliderfru {
  grid-column-start: sliderfru;
  grid-column-end: sliderfru;
}

.contenedortotalfv .sliderver {
  grid-column-start: sliderver;
  grid-column-end: sliderver;
}

.contenedortotalfv .sliderfru {
  background-color: rgb(138, 243, 182);
  display: flex;
}

.contenedortotalfv .sliderver {
  background-color: rgb(250, 188, 247);
  display: flex;
}

.sliderfru {
  align-items: center;
}
.sliderfru .frutasimg {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
.sliderfru .frutasimg img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.contenedortotalfv .mifooter {
  grid-column-start: mifooter;
  grid-column-end: mifooter;
}

.sliderver {
  align-items: center;
}
.sliderver .verdurasimg {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
.sliderver .verdurasimg img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* GRID - CONTENEDOR INDEX */
.contenedortotal {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1 1fr); /* 2 columnas */
  grid-template-rows: repeat(3 1fr); /* 3 filas */
  grid-template-areas: "header header" "carouselproductos carouselproductos" "publicidad  publicidad" "footer footer";
}

.contenedortotal .header {
  grid-column-start: header;
  grid-column-end: header;
}

.contenedortotal #carouselproductos {
  background-color: #f5ebed;
  grid-column-start: carouselproductos;
  grid-column-end: carouselproductos;
}

.contenedortotal .publicidad {
  background-color: #7cf8ee;
  grid-column-start: publicidad;
  grid-column-end: publicidad;
}

@media screen and (max-width: 800px) {
  .contenedortotal .header {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
@media screen and (max-width: 800px) {
  .contenedortotal #carouselproductos {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
#carouselproductos .carousel-item {
  box-shadow: 0px, 8px, 4px, 0px rgb(77, 151, 77);
  background-color: #0d2033;
  grid-template-columns: repeat(2, 0.5fr);
  grid-gap: 5px;
}
#carouselproductos .carousel-item img {
  object-fit: cover;
  height: 450px;
  width: 450px;
}

.publicidad {
  display: flexbox;
  align-items: center;
  background-color: rgb(165, 42, 128);
  padding: 10px;
  top: 10px;
}

/* cuando no fueron visitados */
a:link {
  text-decoration: none;
  color: rgb(15, 30, 121);
}

a:visited {
  text-decoration: none;
  color: rgb(0, 195, 255);
}

/* PIE DE PAGINA */
.mifooter {
  width: 100%;
  background-color: #011220;
}

.mifooter .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 25px 0px;
}

.mifooter .grupo-1 .box iframe {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .mifooter .grupo-1 .box figure img{
    width: 250px;
} */
.mifooter .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.mifooter .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.mifooter .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.mifooter .grupo-1 .red-social a:hover {
  color: rgb(11, 214, 214);
}

.mifooter .grupo-2 {
  background-color: #010508;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.mifooter .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .mifooter .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
