/* importante resetear estas propiedades */
*{
    margin: 0;
    padding: 0;
    
}

.body{
   
    box-sizing: border-box;
    font-family: 'Labrada', serif;
    font-family: 'Nanum Myeongjo', serif;
     
}

.titul{
    /* background-color: rgb(4, 56, 59); */
    background-color: rgb(48, 235, 235);
    color: #fffdfd;;
    font-size: 35px;
    text-align:center;
    border-top: 5px inset rgba(172, 184, 247, 0.897);
    border-bottom: 5px outset rgba(123, 201, 129, 0.897);
    border-radius: 0.2em;
    padding: 10px;
    height: 60px;
}

.div {
    width: auto;
    border: 5px solid rgb(2, 83, 129);
    padding: 20px;
    margin: 10px;
  }  

nav{
       height: 80px;
       background-color:#0c8c91;
       text-align: center;
     }

     nav ul{
        list-style: none;
        display:inline-flex;
        padding:10px;
     }

     nav ul li{
        float:left;
        margin: 5px;
    }

    nav ul li a {
        color: white;
        font-weight:lighter;
        text-decoration:underline;
        font-size: 40px;
        padding: 10px;
    }

    nav ul li a:hover {
        background-color: rgb(81, 3, 88);
        color: blanchedalmond;
    }
p{
    color: rgb(1, 1, 17);
    
}

.imagentexto{
    position: fixed ;
    z-index: 50;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 20px;
    padding: 20px; ;
}

.Nutricion{
    position:fixed;
    flex-direction: column;
}
.fruver2{
    
    width: 300px;
    height:200px;
     
}
 .pie.pag{
    justify-content: center;
}
/* cuando no fueron visitados */
a:link{
 text-decoration: none; 
 color: red;
}
a:visited{
    text-decoration:none;
    color: rgb(0, 195, 255); 
}

/* GRID - CONTENEDOR */

.contenedortotal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);/* 2 columnas */
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr 0.2fr; /* 4 filas */
    grid-template-areas:
    "titulo titulo"
    "menu menu"
    "contenidop1 contenidop2"
    "publicidad publicidad"
    "footer footer";
    column-gap:15px;
    row-gap:  15px;
}
.titul{
    grid-area: titulo;
}
.header{
    grid-area: menu;
}
.contenidop1{
    grid-area: contenidop1;
}
.contenidop2{
    grid-area: contenidop2;
}
.Publicidad{
    grid-area: publicidad;
}
.pie.pag{
    grid-area: footer;
}
/* aplicando estilo al formulario de contactenos */

form{
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 600px;
    padding: 1em;
    border:1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(180, 224, 224);
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 100px;
    text-align:left;
  }
input,
  textarea{
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 400px;
    border:1px solid #ccc;
    border-radius: 1em;
    box-sizing: border-box;
    vertical-align: top;
  }
    input[type="checkbox"]:checked{
    box-shadow: 0 0 3px chocolate;
    vertical-align: top;
    border:1px solid #ccc;
  }
   option{
     align-items: center;
  }
  