/* aplicando estilo al formulario de contactenos */
/* GRID - CONTENEDOR INDEX */

.contenedor-contactenos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);/* 2 columnas */
  grid-template-rows: 0.2fr 1fr; /* 2 filas */
  grid-template-areas:
  "header header"
  "formulario formulario"
  "footer footer";
  column-gap:5px;
  row-gap:  5px;
}
header{
  grid-area: header;
}

.headercont{
  grid-area: header;
}

.formulario{
  grid-area: formulario;

}

.mifooter{
  grid-area: footer;
  
}
@media screen and (max-width:800px){
.form{
  
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}      


.contactenos p{
    text-align: center;        
  }
/* .leyenda{
    display: inline-flexbox;
    align-items: center;
    width: 600px;
    padding: 1em;
    border:1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(180, 224, 224);
} */

form{
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 600px;
    padding: 1em;
    border:1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(180, 224, 224);

    label{
        /* Tamaño y alineación uniforme */
        display: inline-block;
        width: 150px;
        text-align:left;
      }
      input,
      textarea{
          /* Tamaño y alineación uniforme */
          display: inline-block;
          width: 400px;
          padding-right: 10px;
          border:1px solid #ccc;
          border-radius: 1em;
          box-sizing: border-box;
          vertical-align: top;
        }
}

  option{
     align-items: center;
     position:relative;
  }
  
  fieldset{
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 600px;
    margin-top: 10px;
    padding:1em;
    border:1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(180, 224, 224);
     }
fieldset label{
    width: 300px;
}
fieldset input{
    vertical-align: text-top;
}

/* operaciones */

.imagengrande{
    height: $imagengde*3;
}

/* aplicando estilo al formulario de contactenos */


/* ESTILO A FORMULARIO DE PAGINA CONTACTENOS */
form{
  margin: 0 auto;
  font-family:Arial, Helvetica, sans-serif;
  width: 600px;
  padding: 1em;
  border:1px solid #ccc;
  border-radius: 1em;
  background-color: rgb(180, 224, 224);
}

form label{
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 150px;
  text-align:left;
}
form input,
textarea{
  /* Tamaño y aineación uniforme */
  display: inline-block;
  width: 400px;
  padding-right: 10px;
  border:1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
  vertical-align: top;
}

option{
   align-items: center;
   position:relative;
}

fieldset{
  margin: 0 auto;
  font-family:Arial, Helvetica, sans-serif;
  width: 600px;
  margin-top: 10px;
  padding:1em;
  border:1px solid #ccc;
  border-radius: 1em;
  background-color: rgb(180, 224, 224);
   }
fieldset label{
  width: 300px;
}
fieldset input{
  vertical-align: text-top;
}


