/* aplicando estilo al formulario de contactenos */
/* GRID - CONTENEDOR INDEX */

.contenedorcontactenos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);/* 2 columnas */
  grid-template-rows: 1, 1fr; /* 2 filas */
  grid-template-areas:
  "header header"
  "formulario formulario"
  "footer footer";
  column-gap:5px;
  row-gap:  5px;
}
header{
    grid-column-start: header;
    grid-column-end:header;
}

.formulario{
  grid-column-start: formulario;
  grid-column-end:formulario;

}

.mifooter{
  grid-column-start: footer;
  grid-column-end:   footer;
  
}


.contactenos{
    text-align: center;        
  }

form{
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 600px;
    padding: 1em;
    border:1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(180, 224, 224);

    label{
        /* Tamaño y alineación uniforme */
        display: inline-block;
        width: 150px;
        text-align:left;
      }
      input,
      textarea{
          /* Tamaño y alineación uniforme */
          display: inline-block;
          width: 400px;
          padding-right: 10px;
          border:1px solid #ccc;
          border-radius: 1em;
          box-sizing: border-box;
          vertical-align: top;
        }
}

  option{
     align-items: center;
     position:relative;
  }
  
  fieldset{
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 600px;
    margin-top: 10px;
    padding:1em;
    border:1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(180, 224, 224);
     }
fieldset label{
    width: 300px;
}
fieldset input{
    vertical-align: text-top;
}

/* operaciones */

@media screen and (max-width:800px){
  form{
  
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:5px;
        padding: 15px 0px;
     
     input{
  
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:5px;
      padding: 15px 0px;
   
  }

  textarea{
  
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5px;
    padding: 15px 0px;
 
}
} 
}

@media screen and (max-width:800px){
  fieldset{
  
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:5px;
        padding: 15px 0px;
       
    } 
} 

/* aplicando estilo al formulario de contactenos */


/* ESTILO A FORMULARIO DE PAGINA CONTACTENOS */
